﻿
<div class="box left-box">
    <h4 ng-if="showTitle">Pages</h4>
    <!--<div class="row">
        <div class="medium-12 columns">
            <label>
                <input type="text" placeholder="Search" ng-model="searchPage" />
            </label>
        </div>
    </div>-->
    <div class="row pages-list">
        <div class="medium-12 columns">
            <ul class="custom-side-nav">
                <li dir-paginate="page in pages | itemsPerPage: pagesPerPage"
                    total-items="totalPages"
                    current-page="pagination.current"
                    pagination-id="pages"
                    class="row">
                    
                    <a ng-if="!actionAvailable" ui-sref="pages.edit({pageName:page.UrlName, page: page})">{{page.Title}}</a>

                    <span ng-if="actionAvailable" class="small-9 columns">{{page.Title}}</span>
                    <div ng-if="actionAvailable" class="small-3 columns">
                        <a ng-click="select(page)">+</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row fullWidth">
        <div class="small-12 columns small-centered">
            <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"
                                     pagination-id="pages"
                                     max-size="5" />
        </div>
    </div>
</div>
