﻿<style>
    label > i { font-size: 1.3em; }

    .right-panel { max-width: 320px; }
</style>

<form name="pageForm" class="css-form">

    <div class="large-9 columns">
        <div class="row">
            <div class="medium-12 columns">
                <div ng-repeat="alert in alerts">
                    <notification ng-model="alert" service="notificationService" index="$index"></notification>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="medium-12 columns page-title">
                <label>
                    <input name="title" type="text" placeholder="Title" ng-model="page.Title" class="title-input" required ng-pattern="/^[A-Za-zżźćńółęąśŻŹĆĄŚĘŁÓŃ\d\-_\s]+$/">
                </label>
            </div>
        </div>

        <div class="row permalink">
            <div class="medium-12 columns bottom">
                <span class=" text">
                    <strong>Permalink:</strong> http://universitywebsite.pl/
                    <input name="urlName" ng-model="page.UrlName" ng-pattern="/^[A-Za-zżźćńółęąśŻŹĆĄŚĘŁÓŃ\d\-_\s]+$/" />
                </span>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <textarea ui-tinymce="tinymceOptions" data-ng-model="page.Content" class="mousetrap"></textarea>
            </div>
        </div>
    </div>


    <div class="large-3 columns right-panel">

        <div class="box">
            <div class="box-icon">
                <span class="fa fa-wrench"></span>
            </div>
            <div class="row">
                <div class="medium-5 columns">
                    <button type="submit" class="button success" ng-click="update(event)" value="Save">Update</button>
                </div>
                <div class="medium-5 columns">
                    <div class="button alert " ng-click="openDeleteModal()">
                        <i class="fa fa-trash"></i>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="large-12 columns">
                    <label>
                        <i class="fa fa-calendar"></i> Created: {{page.CreationDate | date:'dd/MM/yyyy&nbsp;@&nbsp;hh:mm'}}
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <label>
                        <i class="fa fa-calendar"></i> Last updated: {{page.LastUpdateDate | date:'dd/MM/yyyy&nbsp;@&nbsp;hh:mm'}}
                    </label>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="large-12 columns">
                    <label>
                        Parent
                        <input type="text"
                               ng-model="selectedParent"
                               placeholder="Enter page name"
                               typeahead="parent as parent.Title for parent in getParents($viewValue)"
                               typeahead-loading="loadingParents"
                               typeahead-wait-ms="400"
                               typeahead-on-select="parentSelected"
                               class="form-control">
                        <i ng-show="loadingParents" class="glyphicon glyphicon-refresh"></i>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <label>
                        Language
                        <select ng-model="page.CountryCode" name="lang" required>
                            <option ng-repeat="lang in availableLanguages" value="{{lang.CountryCode}}">{{lang.CountryCode}}</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <label>
                        Translations
                    </label>
                </div>
            </div>
            <div class="row" ng-repeat="translation in page.Translations">
                <div class="large-12 columns">
                    <a ui-sref="pages.edit({pageName: translation.UrlName, page: translation })">{{translation.CountryCode + " - " + translation.Title}}</a>
                </div>
            </div>
            <div class="row" ng-hide="!newTranslationAvailable()">
                <div class="large-12 columns">
                    <a ng-click="addTranslation()">Add translation</a>
                </div>
            </div>
        </div>
    </div>
</form>