﻿
<div class="row fullWidth" >
    <div class="large-2 columns">
        <div class="row">
            <div class="small-7 columns" style="padding-right: 0">
                <h3>Pages</h3>
            </div>
            <div class="small-5 columns" style="text-align: right">
                <a ng-click="add()" style="margin-top: 0.2em; background: transparent; display: inline-block">
                    <i class="fi-page-add" style="font-size: 15pt"></i>
                    Add
                </a>
            </div>
        </div>
        <!--<div class="row">
            <div class="medium-12 columns">
                <label>
                    <input type="text" placeholder="Search" ng-model="searchPage" />
                </label>
            </div>
        </div>-->
        <page-list showtitle="false" changed="pageChanged" />
    </div>


    <div class="large-10 columns edit-details">
        <div ui-view class="row"></div>
    </div>

</div>