﻿<!DOCTYPE html>
@{
    var mainMenuViewModel = ViewData[Consts.MainMenuKey];
}
<html class="no-js">
<head>
    @*Set the viewport width to device width for mobile *@
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/ico" href="favicon.ico">

    @RenderSection("head", required: false)
    @Styles.Render("~/Content/foundation/css")
    @Styles.Render("~/Content/fonts")
    @Scripts.Render("~/bundles/modernizr")

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")

    <title>@ViewBag.Title</title>
    @RenderSection("Styles", false)
</head>


<body>
    <div class="container light-color">
        <div class="row ">
            <div class="large-3 columns">
                <h1><a href="@Url.Action("Index", "Home")"><img src="https://www.pw.edu.pl/design/pl_mob_merge/images/pw_logo_naglowek.png" /></a></h1>
            </div>
            @if (mainMenuViewModel != null)
            {
                Html.RenderPartial("_MainMenu", mainMenuViewModel);
            }
        </div>
    </div>

    <div class="row">
        <div id="slider">
            <img src="https://upload.wikimedia.org/wikipedia/commons/0/01/Polish_Wikinews_header_image.png" />
        </div>
    </div>

    <div class="row light-color" data-equalizer="tile">
        @RenderBody()
    </div>

    <footer class="row light-color">
        <div class="large-12 columns">
            <hr />
            <div class="row">
                <div class="large-6 columns">
                    <p>© Łukasz Dragan, Marcin Fusiara. AD 2016</p>
                </div>
            </div>
        </div>
    </footer>


    @Scripts.Render("~/bundles/foundation")
    @RenderSection("Scripts", false)

    <script>
        $(document).foundation({
            accordion: {
                // specify the class used for accordion panels
                content_class: 'content',
                // specify the class used for active (or open) accordion panels
                active_class: 'active',
                // allow multiple accordion panels to be active at the same time
                multi_expand: true,
                // allow accordion panels to be closed by clicking on their headers
                // setting to false only closes accordion panels when another is opened
                toggleable: true
            },
            equalizer : {
                // Specify if Equalizer should make elements equal height once they become stacked.
                equalize_on_stack: true
            }
        });
    </script>
</body>

</html>
