﻿@{
    var logOffString = GetPhrase("logOff");
    var logInString = GetPhrase("logIn");
    var registerString = GetPhrase("register");
    var adminPanel = GetPhrase("adminPanel");
    var mySubjectsString = GetPhrase("mySubjects");
    var changePasswordString = GetPhrase("changePassword");
}
@if (Request.IsAuthenticated)
{
    <li>
        <a href="#" data-dropdown="user-items" aria-controls="user-items" aria-expanded="false" class="button small dropdown">@User.Identity.Name.Substring(0, User.Identity.Name.IndexOf('@'))</a>
        <ul id="user-items" data-dropdown-content class="f-dropdown" aria-hidden="true">
            @if (this.User.IsInRole("Administrator"))
            {
                <li><a href="@Url.Action("Index", "Admin")">@adminPanel</a></li>
            }
            
            @if (this.User.IsInRole("Teacher"))
            {
                <li><a href="@Url.Content("/Admin#/subjects")">@mySubjectsString</a></li>
            }
            <li>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                    <a href="javascript:document.getElementById('logoutForm').submit()">@logOffString</a>
                }
            </li>
            <li><a href="@Url.Action("ChangePassword", "Manage")" id="changePasswordLink">@changePasswordString</a></li>
        </ul>
    </li>
}
else
{
    <li><a class="button small" href="@Url.Action("Login", "Account")" id="loginLink">@logInString</a></li>
}
