﻿@model UniversityWebsite.Model.Menu.MainMenuViewModel
@{
    string homeString = GetPhrase("home");
    string teachingString = GetPhrase("teaching");
}
<nav class="main-menu large-9 columns">
    <ul class="right button-group">
        <li>
            @Html.ActionLink(teachingString, "Index", "Teaching", null, new { @class = "button small" })
        </li>

        @foreach (var menuItem in Model.MainMenuItems)
        {
            <li>
                @Html.ActionLink(menuItem.Title, "Index", "Page", new { name = menuItem.UrlName }, new { @class = "button small" })
            </li>
        }

        @*<li><a href="@Url.Action("Register", "Account")" class="button">Register</a></li>*@

        @Html.Partial("_LoginPartial")

        @if (Model.LanguageMenu != null)
        {
            Html.RenderPartial("_LanguageSwitcher", Model.LanguageMenu);
        }


    </ul>

</nav>
