﻿@model UniversityWebsite.Model.Page.NavMenuVm
@{
    string homeString = GetPhrase("home");
    string forumString = GetPhrase("forum");
}

<nav class="top-bar sub-nav-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
        <ul class="left">
            <li>
                @Html.ActionLink(homeString, "Index", "Home", null, null)
            </li>
            <li class="divider"></li>
            <li>
                <a href="/Forum">@forumString</a>
            </li>
            <li class="divider"></li>
            @{ Html.RenderPartial("~/Views/Shared/_TeachingNavMenu.cshtml", Model.TeachingNavMenu); }
            <li class="divider"></li>
            @foreach (var item in Model.PageNavMenu.Items)
            {
                Html.RenderPartial("~/Views/Shared/_NavMenuItem.cshtml", item);
                <li class="divider"></li>
            }
        </ul>
    </section>
</nav>

