﻿@model UniversityWebsite.Services.Model.PageMenuItem

@if (Model.Items.Any())
{
    <li class="has-dropdown">
        @Html.ActionLink(Model.Title, "Index", "Page", new { name = Model.UrlName }, null)
        <ul class="dropdown">
            @foreach (var subitem in Model.Items)
            {
                Html.RenderPartial("~/Views/Shared/_NavMenuItem.cshtml", subitem);
            }
        </ul>
    </li>
}
else
{
    <li>@Html.ActionLink(Model.Title, "Index", "Page", new { name = Model.UrlName }, null)</li>

}