﻿@model List<List<UniversityWebsite.Services.Model.TeachingMenuItem>>
@{
    string teachingString = GetPhrase("teaching");
    string semesterString = GetPhrase("semester");
    int i = 1;
}

                    <li class="has-dropdown">
                        @Html.ActionLink(teachingString, "Index", "Teaching", null, null)
                        <ul class="dropdown">
                            @foreach (var semester in Model)
                            {
                                <li @if (semester.Any()){<text>class="has-dropdown"</text>}>
                                    @Html.ActionLink(semesterString + " "+i, "Semester", "Teaching", new{number=i}, null)
                                    <ul class="dropdown">
                                        @foreach (var subject in semester)
                                        {
                                            <li>
                                                @Html.ActionLink(subject.Title, "Subject", "Teaching", new { name = subject.UrlName }, null)
                                            </li>                                        }
                                    </ul>                                    @{ i++; }

                                </li>
                            }
                        </ul>
                    </li>