﻿@using System.Web.Mvc

@helper ImageTile(string href, string title, string imageUrl, Action action)
{
    <div class="small-6 medium-4 columns columns-align-left tile">
        <a href="@href">
            <div class="card">
                <div class="image">

                    <img style="max-height: 100px" src="@imageUrl">

                    <span class="title">@title</span>
                </div>
                <div class="content">
                    @if (action != null)
                    {
                        action();
                    }
                </div>
            </div>
        </a>
    </div>
}

@helper ImageTile(string href, string title, string imageUrl, string content = null)
{
    <div class="small-6 medium-4 columns columns-align-left tile">
        <a href="@href">
            <div class="card" data-equalizer-watch="tile">

                <div class="image">

                    <img src="@imageUrl">

                    <span class="title">@title</span>
                </div>

                <div class="content">
                    @content
                </div>
            </div>
        </a>
    </div>
}


@helper TextTile(string href, string title, Action action = null)
{
    <div class="small-6 medium-4 columns columns-align-left tile">
        <a href="@href">
            <div class="card" data-equalizer-watch="tile">
                <div class="content">
                    <div>
                        @if (action != null)
                        {
                            action();
                        }
                    </div>
                    <div class="title" style="padding-bottom: 1rem; padding-top: 1rem;">
                        <span class="title">@title</span>
                    </div>
                </div>
            </div>
        </a>
    </div>
}

@helper TextTile(string href, string title, string content)
{
    <div class="small-6 medium-4 columns columns-align-left tile">
        <a href="@href">
            <div class="card" data-equalizer-watch="tile">
                <div class="content">
                    <div class="title" style="padding-bottom: 1rem; padding-top: 1rem;">
                        <span class="title">@title</span>
                    </div>
                    <div class="content">
                        @content
                    </div>
                </div>
            </div>
        </a>
    </div>
}


