﻿<div class="medium-12 columns" ng-controller="subjectSignUpRequestCtrl">
    <ul class="button-group">
        <li>
            <button class="button small" ng-click="approve()">
                Approve
            </button>
        </li>
        <li>
            <button class="button small" ng-click="reject()">
                Reject
            </button>
        </li>
    </ul>
    <table>
        <tr>
            <th></th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Index number</th>
            <th>Status</th>
        </tr>
        <tr dir-paginate="request in requests | itemsPerPage: requestsPerPage"
            total-items="totalRequests"
            current-page="pagination.current"
            pagination-id="requests">
            <td>
                <input type="checkbox" ng-model="request.selected" id="{{request.Id}}" />
                <label for="{{request.Id}}"></label>
            </td>
            <td>
                <span>{{request.StudentFirstName}}</span>
            </td>
            <td>
                <span>{{request.StudentLastName}}</span>
            </td>
            <td>
                <span>{{request.StudentIndex}}</span>
            </td>
            <td>
                <span>{{request.Status}}</span>
            </td>
        </tr>
    </table>
    <div class="row">
        <div class="small-12 columns small-centered">
            <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"
                                     pagination-id="requests"
                                     max-size="5" />
        </div>
    </div>
</div>