﻿<div class="medium-12 columns" ng-controller="subjectTeachersCtrl">
    <div class="row">
        <div class="medium-12 columns">
            <ul class="button-group">
                <li><button class="button small" ng-click="add()">Add</button></li>
                <li><button class="button small" ng-click="remove()">Remove</button></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-6 columns">
            <ul class="vcard">
                <li ng-repeat="teacher in teachers">
                    <input id="{{teacher.Id}}" type="checkbox" ng-model="teacher.selected">
                    <label for="{{teacher.Id}}">{{teacher.LastName}} {{teacher.FirstName}} ({{teacher.Email}})</label>
                </li>
            </ul>
        </div>
    </div>
</div>
