﻿<div class="medium-12 columns" ng-controller="subjectFilesCtrl">
    <div class="row">
        <div class="medium-12 columns">
            <ul class="button-group">
                <li>
                    <button ngf-select="uploadFiles($files, $invalidFiles)"
                            multiple accept="*"
                            ngf-max-height="10000"
                            ngf-max-size="5MB"
                            class="button small">
                        Upload
                    </button>
                </li>
                <li>
                    <button ng-click="removeFiles()"
                            class="button small">
                        Remove
                    </button>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-6 columns">
            {{errorMsg}}
            <span class="progress" ng-show="file.progress >= 0">
                <div style="width:{{file.progress}}%; background: #368a55;" ng-bind="'Upload: ' + file.progress + '%'"></div>
            </span>
            <ul class="vcard">
                <li dir-paginate="file in files | itemsPerPage: filesPerPage"
                    total-items="totalFiles"
                    current-page="pagination.current"
                    pagination-id="files">

                    <div class="">
                        <input id="{{file.Id}}" type="checkbox" ng-model="file.selected">
                        <label for="{{file.Id}}"></label>
                        <a ng-href="/api/file/{{file.Id}}">{{file.Name}}</a>
                    </div>
                </li>
            </ul>
            <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"
                                     pagination-id="files" />
        </div>
    </div>
</div>
