﻿<div class="medium-12 columns" ng-controller="subjectStudentsCtrl">
    <div class="row" style="margin-bottom: 1rem">
        <div class="small-12 columns">
            <ul class="button-group">
                <li>
                    <button class="button small" ng-click="signOut()">Remove</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="small-12">
            <table>
                <tr>
                    <th></th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th>Index number</th>
                </tr>

                <tr dir-paginate="student in students| itemsPerPage: studentsPerPage"
                    total-items="totalStudents"
                    current-page="pagination.current"
                    pagination-id="students">
                    <td>
                        <input id="{{student.Id}}" type="checkbox" ng-model="student.selected">
                        <label for="{{student.Id}}"></label>
                    </td>
                    <td>{{student.LastName}}</td>
                    <td>{{student.FirstName}}</td>
                    <td>{{student.Email}}</td>
                    <td>{{student.IndexNumber}}</td>
                </tr>
            </table>
            <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"
                                     pagination-id="students" />
        </div>
    </div>
</div>