﻿<style>
a.add-button{
    margin-top: 0.2em; 
    background: transparent; 
    display: inline-block
}
</style>


<div class="row fullWidth">
    <div class="medium-2 columns">
        <div class="row">
            <div class="small-7 columns" style="padding-right: 0">
                <h3>Subjects</h3>
            </div>
            <div class="small-5 columns" style="text-align: right">
                <a ng-click="add()" class="add-button" ng-if="user.isAdmin">
                    <i class="fi-page-add" style="font-size: 15pt"></i>
                    Add
                </a>
            </div>
        </div>
        <!--<div class="row">
                <div class="medium-12 columns">
                    <label>
                        <input type="text" placeholder="Search" ng-model="searchSubject" />
                    </label>
                </div>
            </div>-->

        <subject-list changed="subjectsChanged"></subject-list>
    </div>


    <div ui-view class="medium-10 columns edit-details">
        
    </div>

</div>
