﻿

<style>
    .mousetrap {
        height: 100px;
    }

    .accordion dd {
        margin-bottom: 20px !important;
    }

    .mousetrap {
        cursor: pointer !important;
    }
</style>

<div class="row">
    <div class="medium-12 columns">
        <div ng-repeat="alert in alerts">
            <notification ng-model="alert" service="notificationService" index="$index" timeout="true"></notification>
        </div>
    </div>
</div>

<div class="row" ng-hide="editMode">
    <div class="medium-9 columns">
        <h3>{{subject.Name}}</h3>
    </div>
    <div class="medium-3 columns">
        <ul class="button-group">
            <li><button class="button small" ng-click="edit()">Edit</button></li>
            <li><button class="button small" ng-click="openDeleteModal()" ng-if="user.isAdmin">Remove</button></li>
        </ul>
    </div>
</div>

<form name="subjectForm" novalidate class="css-form" ng-submit="update()">
    <div class="row" ng-hide="!editMode">
        <div class="medium-10 columns">
            <input type="text" class="title-input" placeholder="Subject name" ng-model="subject.Name" required ng-pattern="/^[A-Za-zżźćńółęąśŻŹĆĄŚĘŁÓŃ\d\-_\s]+$/" />
            <div class="row">
                <div class="medium-4 columns">
                    <label>
                        Semester
                        <input type="number" placeholder="semester number" ng-model="subject.Semester" required min="1" max="10" />
                    </label>
                </div>
            </div>
        </div>
        <div class="medium-2 columns">
            <button class="button" type="submit">Update</button>
        </div>
    </div>
</form>


<div>
    <accordion>
        <accordion-group heading="News" is-disabled="true" ng-click="openSection(newsSection)">
            <div ng-hide="editMode" ng-include="newsSection.url">
            </div>
        </accordion-group>
        <accordion-group heading="Schedule" ng-click="openSection(scheduleSection)">
            <div class="row" ng-hide="editMode" ng-include="scheduleSection.url">
            </div>
        </accordion-group>
        <accordion-group heading="Syllabus" ng-click="openSection(syllabusSection)">
            <div class="row" ng-hide="editMode" ng-include="syllabusSection.url">
            </div>
        </accordion-group>
        <accordion-group heading="Files" ng-click="openSection(filesSection)">
            <div class="row" ng-hide="editMode" ng-include="filesSection.url">
            </div>
        </accordion-group>
        <accordion-group heading="Teachers" ng-click="openSection(teachersSection)">
            <div class="row" ng-hide="editMode" ng-include="teachersSection.url">
            </div>
        </accordion-group>
        <accordion-group heading="Students" ng-click="openSection(studentsSection)">
            <div class="row" ng-hide="editMode" ng-include="studentsSection.url">
            </div>
        </accordion-group>
        <accordion-group heading="Requests from students" ng-click="openSection(requestsSection)">
            <div class="row" ng-hide="editMode" ng-include="requestsSection.url">
            </div>
        </accordion-group>
    </accordion>
</div>