﻿<div class="row">
    <div class="medium-12 columns">
        <ul class="custom-side-nav">
            <li dir-paginate="subject in subjects | itemsPerPage: subjectsPerPage "
                total-items="totalSubjects"
                current-page="pagination.current"
                pagination-id="subjects">
                <a ng-click="selectSubject(subject)">{{subject.Name}}</a>
            </li>
        </ul>
        <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"
                                 pagination-id="subjects" />
        <span>{{totalSubjects}}</span>
    </div>
</div>
