﻿@model UniversityWebsite.Model.SubjectVm
@{
    Layout = null;
}

@{
    string newsString = GetPhrase("news");
    string scheduleString = GetPhrase("schedule");
    string syllabusString = GetPhrase("syllabus");
    string filesString = GetPhrase("files");
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <style>
        .top-bar, .top-bar-section li:not(.has-form) a:not(.button) {
            background: #003C58;
        }
    </style>
}
<input type="hidden" value="@Model.UrlName" class="subject-urlname" />
@{Html.RenderPartial("~/Views/Shared/_NavMenu.cshtml", Model.NavMenu);}


<div class="medium-12 columns">
    <h2>@Model.Name</h2>
    @if (Model.News.Count > 0)
    {
        <div class="row section">
            <div class="medium-12 columns">
                <div class="row">
                    <div class="medium-12 columns">
                        <h3><a id="@newsString">@newsString</a></h3>
                    </div>
                </div>

                <div class="row">
                    <div class="medium-12 columns" id="news-list">
                        @{ Html.RenderPartial("Sections/_News", Model.PaginateNews); }
                    </div>
                </div>
            </div>
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.Schedule))
    {
        <div class="row section">
            <div class="medium-12 columns">
                <div class="row">
                    <div class="medium-12 columns">
                        <h3><a id="@scheduleString">@scheduleString</a></h3>
                    </div>
                </div>

                <div class="row">
                    <div class="medium-12 columns">
                        @Html.Raw(Model.Schedule)
                    </div>
                </div>
            </div>
        </div>

    }
    @if (!string.IsNullOrEmpty(Model.Syllabus))
    {
        <div class="row section">
            <div class="medium-12 columns">
                <div class="row">
                    <div class="medium-12 columns">
                        <h3><a id="@syllabusString">@syllabusString</a></h3>
                    </div>
                </div>

                <div class="row">
                    <div class="medium-12 columns">
                        @Html.Raw(Model.Syllabus)
                    </div>
                </div>
            </div>
        </div>
    }
    @if (Model.Files.Count > 0)
    {
        <div class="row section">
            <div class="medium-12 columns">
                <div class="row">
                    <div class="medium-12 columns">
                        <h3><a id="@filesString">@filesString</a></h3>
                    </div>
                </div>

                <div class="row">
                    <div class="medium-12 columns">
                        @foreach (var file in Model.Files)
                        {
                            <ul>
                                <li>
                                    <span>
                                        <a href="/api/file/@file.Id">@file.Name</a><br />
                                    </span>
                                </li>
                            </ul>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    $().ready(function () {
        $('#news-list').on('click', '.page-number', function () {
            var page = parseInt($(this).html());
            var subjectName = $('.subject-urlname').val();

            $.ajax({
                url: '@Url.Action("NewsList")',
                data: { 'subjectName': subjectName, 'page': page },
                success: function (data) {
                    $('#news-list').html(data);
                }
            });
        });

        $('#news-list').on('click', 'li.arrow > a.next', function () {
            var current = $("li.current");
            console.log(current.next().html());
            current.next().children('a').trigger("click");
        });

        $('#news-list').on('click', 'li.arrow > a.prev', function () {
            var current = $("li.current");
            current.prev().children('a').trigger("click");
        });

    });
</script>