﻿<tabset>
    <tab heading="Languages" select="notificationService.clearNotifications();">
        <div class="row fullWidth">
            <div class="medium-6 columns">
                <div class="row">
                    <div class="medium-12 columns">
                        <div ng-repeat="alert in alerts">
                            <notification ng-model="alert" service="notificationService" index="$index"></notification>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-12 columns">
                        <button class="button success" value="Save" ng-click="startWizard(); $event.stopPropagation();">Add new language</button>
                    </div>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th width="150">Full name</th>
                            <th>Code</th>
                            <th></th>
                            <!--<th>Order</th>
                                <th>Flag</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="language in languages">
                            <td><a ng-click="edit(language)">{{language.Title}}</a></td>
                            <td>{{language.CountryCode}}</td>
                            <td><a ng-click="remove(language)"><i class="fa fa-trash"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </tab>
    <tab heading="Strings translation" select="notificationService.clearNotifications();">
        <div class="row">
            <div class="medium-12 columns">
                <div ng-repeat="alert in alerts">
                    <notification ng-model="alert" service="notificationService" index="$index"></notification>
                </div>
            </div>
        </div>
        <div ng-include="translationList.url"></div>
    </tab>
</tabset>
