﻿<style>
    input[type="checkbox"], input[type="radio"], select {
        margin: 0;
    }
</style>
<div class="row fullWidth">
    <div class="medium-2 columns">
        <div class="row">
            <div class="small-7 columns" style="padding-right: 0">
                <h3>Users</h3>
            </div>
            <div class="small-5 columns" style="text-align: right">
                <a ng-click="addUser()" class="add-button">
                    <i class="fi-page-add" style="font-size: 15pt"></i>
                    Add
                </a>
            </div>
        </div>
        <div class="row">
            <div class="medium-12 columns">
                <label>
                    <select ng-model="userStatus" name="lang" ng-change="updateList()" ng-options="option for option in userStatuses"></select>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="medium-12 columns">
                <ul class="custom-side-nav">
                    <li dir-paginate="user in users | itemsPerPage: usersPerPage"
                        total-items="totalUsers"
                        current-page="pagination.current"
                        pagination-id="users"
                        class="row">
                        <a ui-sref="users.edit({userId:user.Id, user: user})">{{user.FirstName + " " + user.LastName}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row fullWidth">
            <div class="small-12 columns small-centered">
                <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"
                                         pagination-id="users"
                                         max-size="5" />
            </div>
        </div>
    </div>


    <div ui-view class="medium-10 columns edit-details">

    </div>

</div>
