﻿<style>
    .menu-list {
        max-width: 60rem;
    }
</style>

<div class="row fullWidth">
    <div class="medium-4 large-2 columns">
        <h3>Main pages</h3>

        <!-- left sidebar -->
        <page-list selected="addToMenu" showTitle="true" lang="activeMenu.CountryCode"/>
    </div>

    <div class="small-12 medium-8 columns menu-list" ng-include="menuList.url"></div>
</div>
