﻿<div class="row">
    <div class="medium-12 columns">
        <label>
            Title
            <input type="text" ng-model="menuItem.Title" />
        </label>
    </div>
</div>
<div class="row">
    <div class="medium-12 columns">
        <label>
            Description
            <textarea ng-model="menuItem.Description" rows="4" ng-change="activeMenu.dirty = true;"></textarea>
        </label>
    </div>
</div>
<div class="row">
    <div class="medium-12 columns">
        <div class="row collapse">
            <label>
                Image url
            </label>
            <div class="small-10 large-11 columns">
                <input type="text" ng-model="menuItem.ImageUrl" />
            </div>
            <div class="small-2 large-1 columns">
                <button class="button small postfix" ng-click="openGallery(menuItem)"><i class="fa fa-search"></i></button> 
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="medium-6 columns">
        <img ng-if="menuItem.ImageUrl != null" ng-src="{{menuItem.ImageUrl}}" style="max-height: 300px; margin-top: 1rem;"/>
    </div>
</div>