﻿<style>
    .menu-list {
        max-width: 40rem;
    }
</style>

<div class="row fullWidth">
    <div class="medium-4 large-2 columns">
        <h3>Menus</h3>
        
        <!-- left sidebar -->
        <page-list selected="addToMenu" show-title="true" lang="activeMenu.CountryCode" />
    </div>
    
    <!-- list of menu items -->
    <div class="small-12 medium-8 columns menu-list" ng-include="menuList.url"></div>

</div>
