﻿/* Styles for signup panels */
.center.row {
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    max-width: 500px;
}

.signup-panel i {
    font-size: 30px;
    line-height: 50px;
    color: #999;
}

.signup-panel form input, .signup-panel form span {
    height: 50px;
}

.signup-panel .welcome {
    font-size: 26px;
    text-align: center;
    margin-left: 0;
}

section.active {
    padding-top: 75px !important;
}

p.title {
    border-bottom: 1px solid #cccccc !important;
}



@import url(//fonts.googleapis.com/css?family=Roboto:400,500,300,100,700,900);

body {
    background: #F6F6FA;
    background: url("images/background.jpg");
}

.button-group > li {
    margin: 0 -3px;
}

.light-color {
    background: #FCFCFF;
}

.row {
    max-width: 72.5rem;
}

.card {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #272727;
    border-radius: 2px;
}

.card .title {
    font-size: 1.5rem;
    font-weight: 300;
}

.card .content {
    padding: 1.3rem;
    font-weight: 300;
    border-radius: 0 0 2px 2px;
}

.card p {
    margin: 0;
}

.card .action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 1.3rem;
}

.card a {
    margin-right: 1.3rem;
    transition: color 0.3s ease;
    text-transform: uppercase;
    text-decoration: none;
}

.card .image {
    position: relative;
}

.card .image .title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1.3rem;
    color: #fff;
}

.card .image img {
    border-radius: 2px 2px 0 0;
}

.fullWidth {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}

nav .button-group a.button {
    background: #003C58;
}

.sub-nav-bar {
    margin-bottom: 2rem;
}

.tile {
    margin-bottom: 2rem;
}

.box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
    display: block;
    margin-top: 60px;
}

.box-icon {
    background-color: #333333;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;
    margin-bottom: 10px;
    font-size: 3rem;
}

    .box-icon span {
        color: #fff;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }

.left-box {
    margin-top: 0;
    padding: 0.9rem;
    margin-bottom: 2rem;
    max-width: 20rem;
}

.menu-list {
    float: left !important;
}


.css-form input.ng-invalid.ng-touched, select.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
    background: #fff url(/../Content/images/invalid.png) no-repeat 98% center;
    border: 2px solid #b03535;
    box-shadow: 0 0 5px #d45252;
}

.css-form .permalink {
    font-size: 0.875rem;
    color: #4d4d4d;
    margin-bottom: 10px;
}


input.title-input {
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: bold;
    height: auto;
}

.edit-details {
    margin-top: 2em;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.columns-align-left {
    float: left !important;
}

.accordion dd {
    margin-bottom: 20px !important;
}

    .accordion dd .button {
        margin: 0;
    }

.custom-side-nav li a:not(.button) {
    padding: 0;
}

.custom-side-nav li {
    padding: 0.4375rem 0.875rem;
}

.tabs-content {
    border-top: 1px solid #cccccc !important;
}

.pages-list ul {
    padding-top: 0;
}

.modal-dialog {
    width: 40%;
    max-width: 800px;
}

.with-border {
    border: 1px solid black;
}
