﻿<h2>{{title}}</h2>
<p class="modal-body">This will permamently remove data. This action cannot be undone.</p>
<div class="modal-footer">
    <a class="secondary button" ng-click="cancel()">Cancel</a>
    <a class="button alert" ng-click="ok()">Confirm</a>
</div>