﻿@using UniversityWebsite.Helper
<!DOCTYPE html>
<html ng-app="configApp">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/ico" href="~/Content/favicon.ico">
    <title>@GetPhrase("adminPanel")</title>
    @Styles.Render("~/tinymce/css")
    @Styles.Render("~/Content/foundation/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fonts")
    @Styles.Render("~/Content/AdminApp")

</head>
    <body ng-cloak style="background: #F6F6FA;">
        
        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                @if (this.User.IsInRole("Administrator"))
                {
                    <li class="name">
                        <h1>
                            <a ui-sref="dashboard">Dashboard</a>
                        </h1>
                    </li>
                }
                <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                <li class="toggle-topbar menu-icon">
                    <a href="#">
                        <span>Menu</span></a>
                </li>
            </ul>

            <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                    <li>
                        <a href="@Url.Action("Index", "Home")">
                            <strong>Powrot do strony</strong>
                        </a>
                    </li>
                </ul>

                <!-- Left Nav Section -->
                @*<ul class="left">
                <li><a href="#">Left Nav Button</a></li>
            </ul>*@
            </section>
        </nav>

        <div ui-view class="container" @Html.RequestVerificationToken() us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1" loading>

        </div>

        <script src="~/Scripts/tinymce/tinymce.min.js"></script>

        @Scripts.Render("~/bundles/linq")
        @Scripts.Render("~/bundles/configApp")
    
        <script>
            var user = { isAdmin: '@ViewBag.IsAdmin' == 'True' };
            angular.module("configApp").value("user", user);
        </script>

    </body>
</html>