﻿@model  UniversityWebsite.Model.PagedData<UniversityWebsite.Model.NewsVm>

<style>
    div.article-meta {
        font-size: 0.8rem;
        color: gray;
        margin-right: 1rem;
    }

    div.article-content {
        padding-top: 1.5rem;
    }

    .news-container {
        border-top: 2px solid gray;
        padding-top: 0.8rem;
        margin: 1rem 0;
    }

    .news-title {
        color: #b20932;
    }

    div.section:nth-child(2n+1) {
        background: #f7f7f7;
    }

    .section {
        padding: 1rem 0.1rem;
    }

    .section-footer {
        border-top: 2px solid gray;
    }
</style>

@foreach (var news in Model.Data)
{
    <div class="news-container">
        <div class="row article-meta">
            <div class="medium-12 columns">
                <span><i class="fa fa-calendar"></i> @news.PublishDate</span> <span class="article-meta"><i class="fa fa-user"></i> @news.AuthorName</span>
            </div>
        </div>
        <h4 class="news-title">@news.Header</h4>

        <div class="row">
            <div class="medium-12 columns">
                <p>@Html.Raw(news.Content)</p>
            </div>
        </div>

    </div>
}

<div class="row">
    <div class="medium-12 columns">
        <div class="section-footer">
            <div class="pagination-centered">
                <ul class="pagination">
                    @if (Model.CurrentPage == 1)
                    {
                        <li class="arrow unavailable"><a class="prev">&laquo;</a></li>
                    }
                    else
                    {
                        <li class="arrow"><a class="prev">&laquo;</a></li>
                    }
                    @for (int i = 1; i <= Model.NumberOfPages; i++)
                    {
                        if (i == Model.CurrentPage)
                        {
                            <li class="current"><a>@i</a></li>
                        }
                        else
                        {
                            <li><a class="page-number">@i</a></li>
                        }
                    }
                    @if (Model.CurrentPage == Model.NumberOfPages)
                    {
                        <li class="arrow unavailable"><a class="next">&raquo;</a></li>
                    }
                    else
                    {
                        <li class="arrow"><a class="next">&raquo;</a></li>
                    }
                </ul>
            </div>
            
        </div>
    </div>
</div>
<script>
    
</script>