﻿

<div style="margin-top: 2rem;">
    <div class="row" data-equalizer>
        <div class="medium-3 columns columns-align-left" ng-if="user.isAdmin">
            <a ui-sref="users">
                <div class="panel" data-equalizer-watch>
                    <h3>Users</h3><span>Manage users</span>
                </div>
            </a>
        </div>
        <div class="medium-3 columns columns-align-left">
            <a ui-sref="subjects">
                <div class="panel" data-equalizer-watch>
                    <h3>Subjects</h3><span>Manage and create new subjects.</span>
                </div>
            </a>
        </div>
        <div class="medium-3 columns columns-align-left" ng-if="user.isAdmin">
            <a ui-sref="menus">
                <div class="panel" data-equalizer-watch>
                    <h3>Navigation menu</h3><span>Customize main menu</span>
                </div>
            </a>
        </div>
        <div class="medium-3 columns columns-align-left" ng-if="user.isAdmin">
            <a ui-sref="languages">
                <div class="panel" data-equalizer-watch>
                    <h3>Languages</h3><span>Manage languages and translations</span>
                </div>
            </a>
        </div>
        <div class="medium-6 columns columns-align-left" ng-if="user.isAdmin">
            <a ui-sref="pages">
                <div class="panel">
                    <h3>Pages</h3><span class="rb-temp">Edit and create new pages.</span>
                </div>
            </a>
        </div>
        <div class="medium-3 columns columns-align-left" ng-if="user.isAdmin">
            <a ui-sref="main-pages">
                <div class="panel">
                    <h3>Home page</h3><span class="rb-temp">Add and remove tiles from home page.</span>
                </div>
            </a>
        </div>
        <div class="medium-3 columns columns-align-left">
            <a ui-sref="gallery">
                <div class="panel">
                    <h3>Image gallery</h3><span class="rb-temp">Upload and remove images.</span>
                </div>
            </a>
        </div>
    </div>
</div>
