﻿@model UniversityWebsite.Model.LoginViewModel
@{
    var logInString = GetPhrase("logIn");
    var passwordString = GetPhrase("password");
    var emailString = GetPhrase("email");
    var forgotPasswordString = GetPhrase("forgotYourPassword");
    var registerString = GetPhrase("registerLink");

    ViewBag.Title = logInString;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    input.extra-link-input {
        margin-bottom: 0;
    }

    .button-row {
        margin-top: 2rem;
    }
    a.input-extra-link {
        text-decoration: underline;
        font-size: 0.9rem;
    }
</style>

<div class="center row">
    <p class="title" data-section-title><a href="#">@logInString</a></p>
    <div class="content" data-section-content>
        <div class="row">
            <div class="large-12 columns">
                <div class="signup-panel">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row collapse">
                            <div class="small-2 columns">
                                <span class="prefix"><i class="fa fa-user"></i></span>
                            </div>

                            <div class="small-10  columns">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control extra-link-input", @placeholder = emailString })
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-10 columns">
                                <a href="@Url.Action("Register", "Account")" id="registerLink" class="input-extra-link">@registerString</a>
                            </div>
                        </div>
                        <br/>

                        <div class="row collapse">
                            <div class="small-2 columns ">
                                <span class="prefix"><i class="fa fa-lock"></i></span>
                            </div>
                            <div class="small-10 columns ">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control extra-link-input", placeholder = passwordString })
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-10 columns">
                                <a href="@Url.Action("ForgotPassword", "Account")" class="input-extra-link">@forgotPasswordString</a>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="small-10 columns small-centered">
                                <input type="submit" value="@logInString" class="button expand" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}