﻿@model UniversityWebsite.Model.RegisterViewModel
@{
    var registerString = GetPhrase("register");

    ViewBag.Title = registerString;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var passwordString = GetPhrase("password");
    var confirmString = GetPhrase("confirmPassword");
    var emailString = GetPhrase("email");
    var firstNameString = GetPhrase("firstName");
    var lastNameString = GetPhrase("lastName");
    var indexString = GetPhrase("indexNumber");
    var peselString = GetPhrase("personalIdentityNumber");
}

<div class="center row">
    <p class="title" data-section-title><a href="#">@registerString</a></p>
    <div class="content" data-section-content>
        <div class="row">
            <div class="large-12 columns">
                <div class="signup-panel">
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "error" })
                        <div class="row collapse">
                            <div class="small-10  columns">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = emailString })
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="small-10 columns ">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = passwordString, id = "password", })
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="small-10 columns ">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = confirmString, data_equalto = "password" })
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="small-10  columns">
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = firstNameString })
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="small-10  columns">
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = lastNameString })
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="small-10  columns">
                                @Html.TextBoxFor(m => m.IndexNumber, new { @class = "form-control", @placeholder = indexString })
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="small-10  columns">
                                @Html.TextBoxFor(m => m.Pesel, new { @class = "form-control", @placeholder = peselString })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="small-8 columns small-centered">
                                <input type="submit" value="@registerString" class="button expand" />
                            </div>
                        </div>
                        
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
